<!--Paste your test html to demonstrate your birthday stylesheet here-->

<body>
	
	<div id="navigation">
		<a href="generic">Home</a> :: <a href="birthday">Birthday Party</a> :: <a href="baby">New baby Party</a> :: <a href="graduation">Graduation Party</a> :: <a href="generic">Generic Party</a>	</div>

<div id=img>		
<%= link_to image_tag("Birthday.png")%>
</div>
	
<div id="mainContainer">
	<h1>Welcome to Aliya's Birthday Party: description</h1>


	<h2>Celebrate the birthday party<br>Invite your guest by sending an electronic invitation</h2>
	<table border="4">
	<tr>
	<td>Party Date</td>
	<td> -------- </td>
	</tr>
	<tr>
	<td>Start Time</td>
	<td> -------- </td>
	</tr>
	<tr>
	<td>End Time</td>
	<td> -------- </td>
	</tr>
	<tr>
	<td>RSPV Due</td>
	<td> -------- </td>
	</tr>
	<tr>
	<td>Party Location</td>
	<td> -------- </td>
	</tr>
	<tr>
	<td>House Number</td>
	<td> -------- </td>
	</tr>
	</table>
</div>


<p class="margin">To go the the registration page click <a href="registration.html">
	here</a></p></div>
</div>


	<div id="footer">
<a href="generic">Home</a> :: <a href="birthday">Birthday Party</a> :: <a href="baby">New baby Party</a> :: <a href="graduation">Graduation Party</a> :: <a href="generic">Generic Party</a>	</div>


</body>